/* 

COLOUR PALETTE

Dark Blue Grey  #263238
Off White       #eceff1
Anchor Tags     #00acc1

There are no hover or focus states for links.

ADDITIONAL STYLES FOR ARTICLES

border: 1px solid #b0bec5;
box-shadow: 2px 2px 5px #b0bec5;

*/

/* Universal Styles */

body {
    color: #263238;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0; /* Remove default margin to ensure full width */
}

/* Typography */

.heading {
    font-size: 1rem;
    text-align: center;
    font-weight: 300;
    line-height: 1.2;
    color: #eceff1; /* Set text color for the heading */
    background-color: #263238; /* Set background color for the green band */
    padding: 10px; /* Add padding for better aesthetics */
    margin: 0; /* Remove margin to ensure full width */
}

.logo {
    height: 30px; /* Adjust the height as needed */
    margin-right: 10px; /* Add margin to separate the logo from the heading */
}

/* Main Content */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjust as needed */
}

article {
    width: 300px; /* Adjust the width as needed */
    margin: 10px;
    border: 1px solid #b0bec5;
    box-shadow: 2px 2px 5px #b0bec5;
}

img {
    width: 100%;
    height: auto;
}

.card-copy {
    padding: 10px;
}

/* Footer */

footer {
    font-size: 0.825em;
    text-align: center;
}

footer section {
    color: #eceff1; /* Set text color for the disclaimer */
    background-color: #263238; /* Set background color for the green band */
    padding: 10px; /* Add padding for better aesthetics */
    margin: 0; /* Remove margin to ensure full width */
}

/* Media Queries */
